.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    background: #FFFFFF;
}

.loader .face {
    position: absolute;
    border: 4px solid #FFFFFF;
}

.loader .face.face1 {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFFFFF;
    border-radius: 50%;
    border-top: 3px solid #005cb9;
    border-right: 3px solid #005cb9;
    border-bottom: 3px solid #005cb9;
    animation: animate 2s linear infinite;
}

.loader .face.face2 {
    top: 17px;
    left: 17px;
    bottom: 17px;
    right: 17px;
    background: #FFFFFF;
    border-radius: 50%;
    border-top: 3px solid #62BCDD;
    border-right: 3px solid #62BCDD;
    border-left: 3px solid #62BCDD;
    animation: animate 2s linear reverse infinite;
}

.loader .face.face3 {
    top: 34px;
    left: 34px;
    bottom: 34px;
    right: 34px;
    background: #FFFFFF;
    border-radius: 50%;
    border-right: 3px solid #005cb9;
    border-top: 3px solid #005cb9;
    border-bottom: 3px solid #005cb9;
    animation: animate 2s linear reverse infinite;
}

.loader .face .circle {
    position: absolute;
    top: calc(50% - 1px);
    left: 50%;
    width: 50%;
    height: 2px;
    transform-origin: left;
}

.loader .face.face1 .circle {
    transform: rotate(135deg);
}

.loader .face.face2 .circle {
    transform: rotate(-225deg);
}

.loader .face.face3 .circle {
    transform: rotate(225deg);
}

.loader .face .circle::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #000;
    top: -6px;
    right: -6px;
}

.loader .face.face1 .circle::before {
    background: #005cb9;
}

.loader .face.face2 .circle::before {
    background: #62BCDD;
}

.loader .face.face3 .circle::before {
    background: #005cb9;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}