<div class="container-footer">
    <div class="row">
        <div class="col-auto">
            <a [routerLink]="['']"><img [src]="logo" class="imgLogo mb-3"></a>
            <br><br>
            <a [routerLink]="['/contacto']" class="hiper-footer">Contacto</a><br>
            <a [routerLink]="['/faqs']" class="hiper-footer">Preguntas Frecuentes</a><br>
            <a [routerLink]="['/terminos']" class="hiper-footer">Terminos y Condiciones</a>
        </div>

        <div class="col text-right">
                <a href="https://www.instagram.com/quierodonarorg/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a><br>
                <a href="https://facebook.com/quierodonar/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a><br>
                <a href="https://twitter.com/kindappio" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a><br>
                <a href="https://www.linkedin.com/company/kindapp/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>          
        </div>
        
    </div>
</div>