.imgOng {
    width: 90px;
    height: 90px;
    border-radius: 120px;
    margin: 9px auto;
}

h4 {
    font-size: 13px;
    font-weight: 600;
    font-style: unset;
    color: #2d2d2d;
    text-align: left;
    padding: 0px;
    margin: 0px;
    margin-left: 18px;
}

h5 {
    font-size: 12px;
    font-weight: 300;
    color: #2d2d2d;
    font-style: italic;
    text-align: left;
    padding: 0px;
    margin: 0px;
    margin-left: 18px;
    margin-top: 3px;
}

.txt-check {
    font-size: 12px;
    line-height: 13px;
}

.fa {
    font-size: 18px;
    margin-right: 6px;
    margin-top: 4px;
}

.check-color {
    color: #4D86FF;
}

.ml-18 {
    margin-left: 18px !important;
}