<div class="container-cards shadow-card" >
    <div class="row p-0 m-0">
        <div class="col-6 p-0 m-0 text-center">
            <img class="imgOng" src="https://firebasestorage.googleapis.com/v0/b/kindapp-5fc79.appspot.com/o/fundacion_img%2FonWu6kgH00bxniAvmFhQfnXNgy63_imagen_3.png?alt=media&token=9b91aa5a-e8ca-4fd6-9aa7-3fd72faadc6c" alt="">
        </div>
        <div class="col-6 p-0 m-0">
            <app-card-ods></app-card-ods>
        </div>
    </div>

    <div class="row p-0 m-0 pb-3">
        <div class="col-6 p-0 m-0">
            <h4>Fundacion Carmela Fassi</h4>
            <h5>"Construyendo caminos para que en Mendoza no exista la desnutricion infantil."</h5>
        </div>

        <div class="col-6 p-0 m-0 align-self-end">
            <div class="row p-0 m-0 justify-content-center check-color">
                <div class="col-auto p-0 m-0 align-self-center">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <div class="col-auto p-0 m-0 text-left align-self-center txt-check">
                        Institución<br>Certificada
                </div>
            </div>
        </div>
    </div>

    <div class="row m-0 p-0">
        <div class="col-6 m-0 p-0 align-self-center">
            <div class="row p-0 m-0 ml-18 align-items-center">
                <div class="col-auto p-0 m-0 align-self-center">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
                <div class="col-auto p-0 m-0 text-left align-self-center txt-check">
                        Mendoza,<br>Argentina
                </div>
            </div>
        </div>
        <a [routerLink]="['/perfil']" class="col-6 align-self-center fix-space btn-profile">
            Perfil Institución
        </a>
    </div>

</div>