<div class="container-cards shadow-card" >
    <div class="row p-0 m-0">
        <div class="col-12 p-0 m-0 text-center">
            <img class="imgCover" src="https://firebasestorage.googleapis.com/v0/b/kindapp-5fc79.appspot.com/o/fundacion_img%2FonWu6kgH00bxniAvmFhQfnXNgy63_portadajpeg?alt=media&token=83a040de-fb21-428f-bb75-b1e1fa47f48d" alt="">
        </div>
        <div class="col-12 p-0 m-0 text-center">
            <img class="imgOng" src="https://firebasestorage.googleapis.com/v0/b/kindapp-5fc79.appspot.com/o/fundacion_img%2FonWu6kgH00bxniAvmFhQfnXNgy63_imagen_3.png?alt=media&token=9b91aa5a-e8ca-4fd6-9aa7-3fd72faadc6c" alt="">
        </div>
    </div>

    <!-- Cuerpo ONG -->
    <div *ngIf="!shared">
        <div class="row pb-3 text-center">
            <div class="col-12">
                <h3>Fundacion Carmela Fassi</h3>
                <h6>Mendoza, Argentina</h6>
                <h5>"Construyendo caminos para que en Mendoza no exista la desnutricion infantil."</h5>
            </div>
        </div>
    
        <div class="col-12 p-0 m-0 mb-3">
            <app-card-ods></app-card-ods>
        </div>
    
        <div class="row m-0 p-0">
            <!-- Compartir Button -->
            <div (click)="changeShared();" class="col-6 align-self-center fix-space">
                <img [src]="imgShared" class="img-shared">
            </div>
            <a [routerLink]="['/perfil']" class="col-6 align-self-center fix-space btn-profile">
                Perfil Institución
            </a>
        </div>
    </div>
    <!-- Fin Cuerpo ONG -->

    <!-- Compartir Cuerpo -->
    <div *ngIf="shared">
        <i class="fa fa-times-circle" aria-hidden="true" (click)="changeShared();"></i>
        <app-shared></app-shared>
    </div>
    <!-- Fin Compartir Cuerpo -->

</div>