<div class="container-bot">
    <div class="row justify-content-between">
        <div class="col-auto">
            <!-- Navigate to Home -->
            <img [src]="imgHome" class="imgMenu" (click)="navigateTo('/')">
            <div class="txt-menu" [ngClass]="{'actived': route === ''}">Inicio</div>
            <!-- <i class="fa fa-eercast" [ngClass]="{'active': route === ''}" (click)="navigateTo('/')"></i> -->
        </div>
        <div class="col-auto">
            <!-- Navigate to ONGs Page -->
            <img [src]="imgOngs" class="imgMenu" (click)="navigateTo('/ongs')">
            <div class="txt-menu" [ngClass]="{'actived': route === '/ongs'}">Instituciones</div>
            <!-- <i class="fa fa-eercast" [ngClass]="{'active': route === '/ongs'}" (click)="navigateTo('/ongs')"></i> -->
        </div>
        <div class="col-auto">
            <!-- Navigate to Causas Page -->
            <img [src]="imgCausas" class="imgMenu" (click)="navigateTo('/causas')">
            <div class="txt-menu" [ngClass]="{'actived': route === '/causas'}">Causas</div>
            <!-- <i class="fa fa-eercast" [ngClass]="{'active': route === '/causas'}" (click)="navigateTo('/causas')"></i> -->
        </div>
        <!-- <div class="col-auto">
            <img [src]="imgEventos" class="imgMenu" (click)="navigateTo('/eventos')">
            <div class="txt-menu" [ngClass]="{'actived': route === '/eventos'}">Eventos</div>
        </div> -->
        <div class="col-auto">
            <!-- Navigate to Perfil Page -->
            <img [src]="imgPerfil" class="imgMenu" (click)="navigateTo('/perfil')">
            <div class="txt-menu" [ngClass]="{'actived': route === '/perfil'}">Perfil</div>
            <!-- <i class="fa fa-eercast" [ngClass]="{'active': route === '/perfil'}" (click)="navigateTo('/perfil')"></i> -->
        </div>
    </div>
</div>