<div class="container-bot">
    <div class="row justify-content-between">
        <div class="col-auto">
            <i class="far fa-smile"></i>
        </div>
        <div class="col-auto">
            <i class="far fa-smile"></i>
        </div>
        <div class="col-auto">
            <i class="far fa-smile"></i>
        </div>
        <div class="col-auto">
            <i class="far fa-smile"></i>
        </div>
        <div class="col-auto">
            <i class="far fa-smile"></i>
        </div>
    </div>
</div>