<div class="bg-ods">

    <!-- Header ODS -->
    <div class="row justify-content-between hr-row p-0 m-0">
        <div class="col-6 txt-ods p-0 m-0">
            ODS
        </div>
        <div class="col-6 p-0 m-0 align-self-center">
            <div class="row p-0 m-0 justify-content-end">
                <div class="col">
                    <div class="circle-ods actived"></div>
                </div>
                <div class="col">
                    <div class="circle-ods"></div>
                </div>
                <div class="col">
                    <div class="circle-ods"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Header ODS -->

    <!-- Title ODS -->
    <h3>Energia asequible y no contaminante</h3>
    <!-- END Title ODS -->

</div>

<div class="btn-circle-next shadow-card" (click)="nextOds()">
    <i class="fa fa-arrow-right" aria-hidden="true"></i>
</div>