.bg-ods {
    height: auto;
    background: #F1C215;
    color: white;
    padding: 9px;
    border-radius: 27px;
    margin: 0 21px;
}

.hd-ods {
    margin: 0px 27px;
    margin-bottom: 3px;
}

.txt-ods {
    font-weight: 300;
    font-size: 11px;
    text-align: left;
}

.fix-btn {
    width: 33px;
}

.col {
    width: 12px;
    max-width: 12px;
    padding: 0px;
}

.circle-ods {
    background: #918D8D;
    border-radius: 15px;
    width: 7px;
    height: 7px;
}

.actived {
    background: #4D86FF;
}

h3 {
    text-align: left;
    color: white;
    font-size: 12px;
    font-weight: 900;
    font-style: italic;
    margin: 0px;
}

.fa {
    font-size: 21px;
}