<!-- Header ODS -->
<div class="row justify-content-between align-items-center hd-ods">
    <div class="col-6 txt-ods ">
        Categoría:
    </div>
    <div class="col-6 align-self-center">
        <div class="row justify-content-end mr-0">
            <div class="col">
                <div class="circle-ods actived"></div>
            </div>
            <div class="col">
                <div class="circle-ods"></div>
            </div>
            <div class="col">
                <div class="circle-ods"></div>
            </div>
        </div>
    </div>
</div>
<!-- END Header ODS -->

<div class="bg-ods justify-content-between align-items-center row">

    <!-- Title ODS -->
    <div class="col-10">
        <h3>Energia asequible y no contaminante</h3>
    </div>
    
    <!-- END Title ODS -->
    <div class="col-2 p-0">
            <i class="fa fa-arrow-right" (click)="nextOds()" aria-hidden="true"></i>
    </div>

</div>