<div class="animated fadeIn slow">
    <!-- Imagen de la Seccion -->
    <img [src]="EVENTOS_IMG" class="category-img">

    <!-- Titulo de la Seccion -->
    <h1>#Multiplicadores</h1>

    <p class="descripcion">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
    </p>
</div>

<!-- Footer Page -->
<app-footer></app-footer>

<!-- Bottom Menu -->
<app-bottom-menu></app-bottom-menu>